/*2*/
/*1;2*/

html{ 
    width:100%;
    height:100%;
    font-size: 100%;
}
.galery_back.z_index_10000
{
	z-index:10000;
}
.z_index_10001
{
	z-index:10001;
}

.galery_back
{
	z-index: 9998;
	opacity:0.5;
	filter:alpha(opacity=50);
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background: #666 url('../img/gal_back.png') 50% 50% repeat;
	
}
.gall_position
{
	top: 50%;
	left: 50%;
	margin-top: -397px;/*-255px~-321px*/
	margin-left: -759px; /*-470px~-582px*/
    border: 1px solid #c7c7ad;
    padding:37px 119px;/*26px 60px~33px 70px*/
    background-color:white;
}
.photo_gallery,.object-video
{
	width:1280px; /*816px~1024px*/
	height:720px; /*459px~576px*/
    border: 1px solid #c7c7ad;
}
.gal_arrow,.top_right_arrow .gal_arrow
{
	background: transparent url('../img/fsize3/left-arrow.png') no-repeat center 0; /*transparent url('../img/fsize1/left-arrow.png') no-repeat center 0~transparent url('../img/fsize2/left-arrow.png') no-repeat center 0*/
	width:104px; /*46px~57px*/
	height:54px; /*33px~42px*/
	margin: 28px 7px; /*25px 5px~25px 5px*/
}
.gal_arrow_right_pos
{
	background-position:center -56px;/*center -46px~center -46px*/
}
.close_photos_gal
{
	background: transparent url('../img/fsize3/close.png') no-repeat ; /*transparent url('../img/fsize1/close.png') no-repeat~transparent url('../img/fsize2/close.png') no-repeat */
	width:119px; /*59px~70px*/
	height:34px; /*21px~27px*/ 
    background-position: center 0;
}
.close_photos_gal:hover
{
	cursor:pointer;
	background-position: center -35px;
}

.preloader
{
	background:transparent url('../img/fsize3/loading.gif') no-repeat center center; /*transparent url('../img/fsize1/loading.gif') no-repeat~transparent url('../img/fsize2/loading.gif') no-repeat*/
	width:1280px; /*816px~1024px*/
	height:720px; /*459px~576px*/
	z-index:-1; 
	opacity:0.3;
	filter:alpha(opacity=30);
	background-position:center center;
}
.esc_gal
{
	text-align:center;
	font-family: arial;
	font-size:18px;/*14px~16px*/
	line-height:2;
	color:#d4cca3;
	font-style:italic;
}
.top_right_arrow,.top_left_arrow
{
	margin-top:305px; /*197px~235px*/
}
.top_left_arrow
{
    left:0;
}
.top_right_arrow
{
        right:0;
}
.top_right_arrow .gal_arrow
{

    background: transparent url('../img/fsize3/right-arrow.png') no-repeat center 0; /*transparent url('../img/fsize1/right-arrow.png') no-repeat center 0~transparent url('../img/fsize2/right-arrow.png') no-repeat center 0*/
}
.top_left_arrow:hover .gal_arrow,.top_right_arrow:hover .gal_arrow
{
    background-position:center bottom;
    cursor:pointer;
}
.count_center
{
    font-family:arial;
    font-size:18px;/*14px~16px*/
    line-height:1.5;/*1.9~2*/
    color:#d4cca3;
    text-align:center;
}
.count-style-center
{
    width:inherit;
    top:0;
}
.ic_fsize
{
/*    background:url('../img/fsize3/4size.png') no-repeat center;/*url('../img/fsize1/ic_fsize.png') no-repeat center~url('../img/fsize2/ic_fsize.png') no-repeat center*/
   	/*width:70px; /*60px~70px*/
   /* height:28px;/*22px~29px*/
   /* margin: 37px 27px;/*26px 0px~33px 0*/
}