/*1*/
/*320*/
body {
	width:100%;
    min-width:100%;
	font-family:'Mako', sans-serif;
    margin:0 auto; 
	padding: 0;
    
}
html{ 
    width:100%;
    height:100%;
    font-size: 100%;
}
.width4size
{
    max-width: 640px;
    min-width: 320px;
    width:100%;
}
.body-margin
{
    margin:0 5px;
}
.f-l
{
	float:left;
}
.f-r
{
	float:right;
}
.clear_both
{
	clear:both;
}
.display_none
{
	display:none;
}
.margin_auto
{
	margin:0 auto;
}
.p-a
{
    position:absolute;
}
.p-r
{
    position:relative;
}
.background-white
{
  background-color: white;  
}
.header-top-back
{
    background: url('../img/mobile/header-top-back.jpg');
    background-repeat: repeat-x;
    background-position:center top;
    position: relative;
    height: 123px;
}
.footer-bottom-back
{
    background: url('../img/mobile/footer-bottom-back.jpg') center bottom;
    background-repeat: repeat-x;
    position: relative;
    height: 123px;
    z-index: -1;
    margin-top: -89px;
}
.logo
{
    background: url('../img/mobile/logo.png');
    background-repeat: no-repeat;
    width: 110px;
    height: 102px;
    margin:0 auto;
}

.phone
{
    font-family:Arial;
    font-size:18px;
    line-height:22px;
    color:#e90000;
    margin-top:15px;
    text-align:center;
}
.phone a,.phone a:hover
{
    text-decoration:none;
    color:#e90000;
}

.header_h
{ 
 padding-top:8px;
}
h1
{
    font-family:arial;
    font-size:24px;
    line-height:30px;
    color:#000;
    font-weight:bold;
    text-align:center;
    margin-top:55px;
}

.footer-text
{
    font-family:Arial;
    font-size:12px;
    line-height:15px;
    color:#777;
    text-align:center;
}
.soc
{
    margin:15px auto 0 auto;
    width:153px;
}
a.facebook,a.vk,a.youtube,a.gp
{
    background:url('../img/mobile/facebook.png') no-repeat;
    width:26px;
    height:26px;
    margin-left:7px;
}
a.vk
{
    background:url('../img/mobile/vk.png') no-repeat;
}
a.youtube
{
    background:url('../img/mobile/youtube.png') no-repeat; 
}
a.gp
{
    background:url('../img/mobile/gp.png') no-repeat;
}
a.facebook:hover,a.vk:hover,a.youtube:hover,a.gp:hover
{
     background-position:0 -26px;
}
.koord-ul
{
    width: 100%;
    margin:40px auto 0 auto;
   
}
.koord-ul ul
{
     background-color:white;
}
.koord-ul li
{
    margin-top:23px;
}
.koord-ul li .text,.koord-ul li .text-desc
{
    font-family:Arial;
    font-size:12px;
    line-height:19px;
    color:#2e2e2e;
    font-weight:bold;
    margin-top: 5px;
}
.koord-ul li .text-desc a
{
    text-decoration:none;
     color:#2e2e2e;
}
.koord-ul li .text-desc
{
    font-weight:400;
}
.koord-ul li.bottom-ul1,.koord-ul li.bottom-ul2,.koord-ul li.bottom-ul3
{
    background:url('../img/mobile/bottom-ul1.png') no-repeat;
    padding-left:33px;
    float:left;
    width:28%;
    max-height:192px;
}
.koord-ul li.bottom-ul2
{
    background:url('../img/mobile/bottom-ul2.png') no-repeat;
}
.koord-ul li.bottom-ul3
{
    background:url('../img/mobile/bottom-ul3.png') no-repeat;
}
.footer-coord-click-region-width
{
    width: 423px;
}
.footer-coord-click-region
{
    margin-top: 19px;
    height: 45px;
}
.white-koord-back
{
    width: 100%;
    position: absolute;
}
.after-header-ot
{
    height:3px;
}
.block-product
{
    font-family:Arial;
    font-size:16px;
    line-height:31px;
    color:#242424;
    margin-top:36px;
    text-align: center;
}
.buy-center
{
    margin: 0 auto;
    width: 160px;
}
.buy-center a:hover
{
    text-decoration:none;
}
.buy-center .buy, .buy-center .send 
{
    background: url(../img/mobile/button.png) no-repeat;
    width:160px;
    margin:0 auto;
    text-align:center;
    color: #d50000;
    font-family: Verdana;
    font-size: 14px;
    line-height: 34px;
    height:35px;
    padding:0;
    margin-top: 20px;
}
.buy-center a:hover .buy, .buy-center a:hover .send:hover 
{
    background-position: 0 -36px;
    cursor: pointer;
    text-decoration:none;
}

.f-sh-delim
{
    background: url('../img/mobile/f-sh-delim.png') no-repeat center;
    height:53px;
    margin:15px auto 0 auto;
}